*.sql

/Uploads/files/MODULES/Ad/
/Uploads/files/MODULES/Advertisement/
/Uploads/files/MODULES/Albums/
/Uploads/files/MODULES/Downloadable/
/Uploads/files/MODULES/Downloads/
/Uploads/files/MODULES/News/
/Uploads/files/MODULES/Shop/
/Uploads/files/MODULES/Sponsors/
/Uploads/files/MODULES/Teams/
/Uploads/files/MODULES/Users/
/Uploads/files/MODULES/Videos/
/Uploads/files/Downloadable/
/Uploads/files/Documents/
/Uploads/thumbs/MODULES/Ad/
/Uploads/thumbs/MODULES/Advertisement/
/Uploads/thumbs/MODULES/Albums/
/Uploads/thumbs/MODULES/Downloadable/
/Uploads/thumbs/MODULES/Downloads/
/Uploads/thumbs/MODULES/News/
/Uploads/thumbs/MODULES/Shop/
/Uploads/thumbs/MODULES/Sponsors/
/Uploads/thumbs/MODULES/Teams/
/Uploads/thumbs/MODULES/Users/
/Uploads/thumbs/MODULES/Videos/
/index.php
