$dark-grey-blue: #37434b;
$info-text: #888888;

$colors: (
    light: (
	default: #ffffff,
	light: #eaeaea,
	medium: #888888,
	dark: #111111,
	active: #00ccff
    ),
    dark: (
	default: #000000,
	light: #ffffff,
	medium: #777777,
	dark: #000000,
	active: #777777
    ),
    dark-blue: (
	default: #000000,
	light: #ffffff,
	medium: #a8bfce,
	dark: #38454e,
	active: #a8bfce
    )
);

@function color($color-name, $color-variant:null) {
 
    @if ($color-variant != null) {
	
	@return map-get(map-get($colors, $color-name), $color-variant);
	
    } @else {
	
	@return map-get($colors, $color-name);
	
    }
    
}

$color-brand: #ffcc25;
$color-dark: rgba(10,10,10, 1);
$color-dark-80: rgba(10,10,10, 0.8);
$color-dark-90: rgba(10,10,10, 0.9);
$color-light: #ffffff;
$color-grey: #929292;