//OSWALD

@font-face {
    font-family: OW-Regular;
    src: url('../fonts/Oswald-Regular.ttf');
}

@font-face {
    font-family: OW-Light;
    src: url('../fonts/Oswald-Light.ttf');
}

@font-face {
    font-family: OW-ExtraLight;
    src: url('../fonts/Oswald-ExtraLight.ttf');
}

// OPENSANS

@font-face {
    font-family: OS-Bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OS-BoldItalic;
    src: url('../fonts/OpenSans-BoldItalic.ttf');
}

@font-face {
    font-family: OS-ExtraBold;
    src: url('../fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: OS-ExtraBoldItalic;
    src: url('../fonts/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: OS-Italic;
    src: url('../fonts/OpenSans-Italic.ttf');
}

@font-face {
    font-family: OS-Light;
    src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: OS-LightItalic;
    src: url('../fonts/OpenSans-LightItalic.ttf');
}

@font-face {
    font-family: OS-Regular;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OS-SemiBold;
    src: url('../fonts/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: OS-SemiBoldItalic;
    src: url('../fonts/OpenSans-SemiboldItalic.ttf');
}

// MONTSERRAT

@font-face {
    font-family: MS-Bold;
    src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
    font-family: MS-Black;
    src: url('../fonts/Montserrat-Black.otf');
}

@font-face {
    font-family: MS-ExtraBold;
    src: url('../fonts/Montserrat-ExtraBold.otf');
}

@font-face {
    font-family: MS-ExtraLight;
    src: url('../fonts/Montserrat-ExtraLight.otf');
}

@font-face {
    font-family: MS-Light;
    src: url('../fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: MS-Medium;
    src: url('../fonts/Montserrat-Medium.otf');
}

@font-face {
    font-family: MS-Regular;
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: MS-SemiBold;
    src: url('../fonts/Montserrat-SemiBold.otf');
}

@font-face {
    font-family: MS-Thin;
    src: url('../fonts/Montserrat-Thin.otf');
}
