@import "colors";
@import "devices";

.module-team-slider {
	position: relative;
	overflow: hidden;
	.control-button {
		position: absolute;
		top: 20px;
		cursor: pointer;
		color: $color-grey;
		z-index: 2;
		&.prev-team {
		  	left: 30%;
		}
		&.next-team {
		  	right: 30%;
		}
		&:hover {
		  	color: $color-light;
		}
	}
	.team-list {
		max-width: 100%;
		display: flex;
		//border: 1px solid purple;

		.team-list-item {
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			overflow: hidden;
			position: relative;
			.team-game {
				justify-content: center;
			  	//background: yellow;
			  	position: relative;
			  	max-height: 300px;
				min-height: 300px;
			  	overflow: hidden;
				margin-bottom: 20px;
			  	img {
					min-width:100%;
					object-fit: cover;
				}
			}
		  	.players {
				margin: 0px auto;
				//margin-top: -40px;
				background-color: white;
			  	.player-list {
					.player-list-item {
						width: 100%;
						//display: flex;
						//flex-direction: column;
						overflow: hidden;
						padding-bottom: 20px;

						.avatar {
							width: 300px;
							height: 300px;
							overflow: hidden;
							> img {
								height: 100%;
								object-fit: cover;
							}
						}
						p {
							color: $color-grey;
							text-align: justify;
							padding: 0px 28px 0px 28px;
							flex: 1;
						}
						.social {
							width: 30%;
							display: flex;
							justify-content: space-around;
							flex-direction: row;
							flex-wrap: nowrap;
							a {
								color: $color-grey;
								&:hover {
									color: $color-brand;
								}
							}
						}
					}
				}
			}
		}
	}
}