@import "normalize";
@import "fonts";
@import "devices";
@import "mixins";
@import "flex";
@import "colors";

@import "component-pagination";
@import "component-form";
@import "component-button";
@import "component-icon";
@import "component-comment";
@import "component-news-slider";
@import "component-article-slider";
@import "component-user-login-area";
@import "component-widget-teams";
@import "component-widget-media";
@import "component-widget-news";

@import "module-forum";
@import "module-partner";
@import "module-download";

$margin-default: 15;

$font-type-text: MS-Light;
$font-type-medium: MS-Medium;

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: $font-type-text;
    color: $color-dark;
    font-size: 16px;
    line-height: 33px;
}

* {  box-sizing: border-box; }

a {
    color: $color-brand;
    text-decoration: none;
	-o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}
a:hover {
    color: lighten($color-brand, 20%);
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.bg-dark {
    background: $color-dark;
}
.bg-dark-80 {
    background: $color-dark-80;
}
.bg-dark-90 {
    background: $color-dark-90;
}
.margin-bottom-2x {
  margin-bottom: $margin-default * 2px;
}
.container-fluid {
    width: 100%;
}
.content-dark {
	background: $color-dark;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  
  iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
}
.container {
    width: 1100px;
    max-width: 1100px;
    //overflow: hidden;
    position: relative;
    //background-color: $color-brand;
    //border-left: 1px solid red;
    //border-right: 1px solid red;
    
  	&.container-dark {
	  background: $color-dark;
	}

  	&.panel {
	  overflow: hidden;
	  padding: $margin-default * 2 + px;
	}
  
  	&.panel-dark {
	  background: $color-dark;
	  border: 1px solid lighten($color-dark, 2%);
	  border-radius: 4px;
	}
  
    @include device(phone){
	width: 100% !important;
	max-width: 100% !important;
	padding: 0px 20px 0px 20px;
	//overflow: hidden;
    }
    
    @include device(tablet){
	width: 100% !important;
	max-width: 100% !important;
	padding: 0px 20px 0px 20px;
	overflow: hidden;
    }
    
    @include device(desktop-sm){
	width: 100% !important;
	max-width: 100% !important;
	padding: 0px 20px 0px 20px;
	overflow: hidden;
    }

    @include device(desktop){
	width: 1100px !important;
	max-width: 1100px !important;
    }
    
}
hr {
	border: 0;
	height: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	border-top: 1px solid $color-grey !important;
}
.headline-rounded {
    border-radius: 60px;
    margin: 0px;
    &.headline-big {
		padding: 15px 30px 15px 30px;
    }
    &.headline-dark {
		border: 3px solid $color-dark;
    }
}
.disable-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}
::selection {
    background: $color-brand; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: $color-brand; /* Gecko Browsers */
}
#wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;

    #header {
	background-color: $color-dark;
	color: $color-light;
	height: 90px;
	min-height: 90px;
	max-height: 90px;
	display: flex;
	justify-content: center;
       
	> .container {
	    display: flex;
	    flex-direction: row;
	    
	    .brand {
		//background: red;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0px;
		margin: 0px 60px 0px 0px;
		
		> img {
		    width: 140px;
		    max-width: 140px;
		    min-width: 140px;
		}

	    }
	    

       }
       
    }

    .nav-trigger {
	/* critical styles - hide the checkbox input */
	position: absolute;
	clip: rect(0, 0, 0, 0);
	display: none;
	@include device(phone){
	    display: block;
	}

    }

    label[for="nav-trigger"] {
	position: absolute;
	right: 0;
	z-index: 2;
	/* non-critical apperance styles */
	margin: 15px;
	height: 60px;
	width: 60px;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	
	@include device(phone){
	    visibility: visible;
	    opacity: 1;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}

    }

    .nav-trigger:checked ~ .navigation {
	visibility: visible;
	opacity: 1;
	 transform: translateY(0%);
	transition-delay: 0s, 0s, 0.3s;
    }
    
    .navigation {
		//background: green;
		margin: 0px;
		//padding: 0px 20px 0px 20px;
		flex: 1;
		display: flex;
		//align-items: center;
		justify-content: space-between;
		position: relative;
		z-index: 2;
		font-family: $font-type-medium;
		//font-size: 18px;

		@include device(phone){
	    position: absolute;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    width: 100%;
	    z-index: 1;
	    top: 90px;
	    left: 0px;
	    right: 0px;
	    visibility: hidden;
	    opacity: 0;
	    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	    transform: translateY(-2em);
	    > a {
			border-bottom: 1px solid $color-grey;
			padding: 10px 20px 10px 20px;
			width: 100%;
			background: $color-dark;
			
			&:hover {
				//background: $color-grey;
			}
	    } 
	}
		> a {
			 height: 100%;
			 display: flex;
			 align-items: center;
			 color: $color-light;
			 &:hover {
				 color: $color-brand;
			 }
		}
    }
    
    .social-media {
	//background: blue;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0px 0px 0px 60px;

	@include device(phone){
	    display: none;
	}

	@include device(tablet){
	    display: none;
	}

	@include device(desktop-sm){
	    display: none;
	}

    }
    
    #content {
	flex: 1 0 auto;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	  &.content-dark-themed {
		background: darken($color-dark, 1%);
	  
		h1 {
		  color: $color-light;
		}
		
		p {
		  color: $color-grey;
		}
		
	  }
	  
	#about {
	    //height: 420px;
	    //min-height: 380px;
	    padding: 40px 0px 40px 0px;
	    //max-height: 420px;
	    //overflow: hidden;
	    display: flex;
            justify-content: center;
	    align-items: center;
	    background: $color-light;
	    
	    > .container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	    }
	    
	    p {
		width: 100%;
		color: $color-grey;
		text-align: center;
		padding: 20px 0px 20px 0px;
	    }
	    
	    button {
		align-self: center;
		margin: 10px;
	    }
	    
	}

    }
    
    #footer {
	height: 440px;
	min-height: 440px;
	max-height: 440px;
	overflow: hidden;
	background-color: lighten($color-dark, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-between;
	flex-wrap: nowrap;
	position: relative;
	color: $color-light;
	
	@include device(phone){
	    height: 60px;
	    min-height: 60px;
	    max-height: 60px;
	}

	@include device(tablet){
	    height: 60px;
	    min-height: 60px;
	    max-height: 60px;
	}
	
	&:before {
	    content: ' ';
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1;  
	    background-image: url("../images/bg-footer.png");
	    background-repeat: no-repeat;
	    background-position: center;
	    opacity: 0.05;
	}
	
	.container-fluid {
	    z-index: 2;
	    display: flex;
	    justify-content: center;
	}
	
	.about {
	    width: 60%;
	    //line-height: 30px;
	    
	    @include device(phone){
		display: none;
	    }

	    @include device(tablet){
		display: none;
	    }
	    
	    @include device(desktop-sm){
		width: 100%;
	    }
	    
	}
	
	.navigation {
	    width: 60%;
	    justify-content: space-between;
	    height: 60px;
	    
	    @include device(phone){
		display: none;   }

	    @include device(tablet){
		display: none;
	    }
	    
	    @include device(desktop-sm){
		width: 100%;
	    }
	}

	.info-bar > .container{
	    height: 60px;
	    font-family: $font-type-medium;
	    display: flex;
	    flex-direction: row;
	    
	    .copyright {
		height: 100%;
		display: flex;
		align-items: center;
		flex: 1;
		flex-wrap: nowrap;
		
		@include device(phone){
		    justify-content: center;
		}

		@include device(tablet){
		    justify-content: center;
		}
		
	    }
	    
	}
    }
    
}